In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('Absenteeism_preprocessed.csv')
data

,Reason1,Reason2,Reason3,Reason4,Month,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

In [3]:
#.median measures the Median of a certain column values
#<=3: Moderately Absent
#>=4: Excessively Absent
data['Absenteeism Time in Hours'].median()

3.0

In [4]:
data['Absenteeism Time in Hours'].unique()

array([  4,   0,   2,   8,  40,   1,   7,   3,  32,   5,  16,  24,  64,
        56,  80, 120, 112, 104,  48], dtype=int64)

np.where(condition,value if True, value if False) checks if a condition has been satisfied assigns a value accordingly

In [5]:
#Supervised Machine Learning has 0 or 1
#Kondisi: Kalau ada VALUE di column ATiH >3 maka
#Kalau TRUE >3, jadikan value 1
#Kalau FALSE <3, jadikan value 0

targets=np.where(data['Absenteeism Time in Hours']>3,1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [6]:
data['Targets']=targets
data

,Reason1,Reason2,Reason3,Reason4,Month,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Targets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

In [7]:
#46% targets are 1
#54% targets are 0
#60-40 data cukup for Logistic Regression
#55-45 is ideal
targets.sum()/targets.shape[0]

0.45571428571428574

In [57]:
new_data=data.copy()
new_data=new_data.drop(['Absenteeism Time in Hours','Day of the week','Daily Work Load Average','Distance to Work'],axis=1)
new_data

,Reason1,Reason2,Reason3,Reason4,Month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Targets
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [58]:
new_data.shape

(700, 12)

DataFrame.iloc[row indices,column indices]

In [60]:
#ILOC EXCLUDES ENDING INDEX
new_data.iloc[:,0:11]

,Reason1,Reason2,Reason3,Reason4,Month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [61]:
inputs=new_data.iloc[:,:-1]
inputs

,Reason1,Reason2,Reason3,Reason4,Month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [62]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin):
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        self.scaler=StandardScaler(copy,with_mean,with_std)
        self.columns=columns
        self.mean_=None
        self.var_=None
    
    def fit(self,x,y=None):
        self.scaler.fit(x[self.columns],y)
        self.mean_=np.mean(x[self.columns])
        self.var_=np.var(x[self.columns])
        return self
    
    def transform(self,x,y=None,copy=None):
        init_col_order=x.columns
        x_scaled=pd.DataFrame(self.scaler.transform(x[self.columns]),columns=self.columns)
        x_not_scaled=x.loc[:,~x.columns.isin(self.columns)]
        return pd.concat([x_not_scaled,x_scaled],axis=1)[init_col_order]

In [63]:
CustomScaler

__main__.CustomScaler

In [64]:
inputs.columns.values

array(['Reason1', 'Reason2', 'Reason3', 'Reason4', 'Month',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [66]:
column_name=[ 'Month', 'Transportation Expense','Age', 'Body Mass Index', 'Children', 'Pets']
abs_scaler=CustomScaler(column_name)
abs_scaler.fit(inputs)

D:\SEM 4\Anaconda\lib\site-packages\sklearn\base.py:197: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning)

CustomScaler(columns=['Month', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'],
             copy=None, with_mean=None, with_std=None)

In [67]:
scaled_inputs=abs_scaler.transform(inputs)
scaled_inputs

,Reason1,Reason2,Reason3,Reason4,Month,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [68]:
from sklearn.model_selection import train_test_split
train_test_split(scaled_inputs,targets)

[     Reason1  Reason2  Reason3  Reason4     Month  Transportation Expense  \
 30         0        0        1        0  0.468236               -0.654143
 520        0        0        0        1  1.039256               -0.654143
 693        1        0        0        0 -0.388293                0.190942
 73         0        0        0        1  1.039256                0.040034
 279        1        0        0        0  0.753746                0.356940
 ..       ...      ...      ...      ...       ...                     ...
 276        0        0        0        0  0.753746                0.130578
 380        0        0        0        1 -1.244823               -0.503235
 585        1        0        0        0 -1.244823               -0.654143
 537        0        0        0        1  1.324766                1.005844
 104        0        0        1        0  1.610276               -1.574681

           Age  Body Mass Index  Education  Children      Pets
 30   0.248310         1.002633          0 -0.919030 -0.589690
 520  0.248310         1.002633          0 -0.919030 -0.589690
 693 -0.692937        -0.408580          1 -0.919030 -0.589690
 73  -1.320435        -0.643782          0 -0.019280  1.126663
 279  0.718933        -0.878984          0 -0.919030 -0.589690
 ..        ...              ...        ...       ...       ...
 276  0.405184         1.943442          0  0.880469  1.126663
 380 -0.536062        -0.408580          0  0.880469  1.126663
 585  0.248310         1.002633          0 -0.919030 -0.589690
 537 -0.536062         0.767431          0  0.880469  0.268487
 104  0.091435         0.297027          0 -0.919030 -0.589690

 [525 rows x 11 columns],
      Reason1  Reason2  Reason3  Reason4     Month  Transportation Expense  \
 213        0        0        0        0 -0.388293                0.854936
 3          1        0        0        0  0.182726                0.854936
 19         0        0        0        1  0.468236                0.387122
 247        0        0        0        1  0.182726                1.005844
 611        1        0        0        0 -1.244823                0.040034
 ..       ...      ...      ...      ...       ...                     ...
 281        0        0        0        1  0.753746                1.036026
 632        0        0        0        1 -0.959313               -0.654143
 224        1        0        0        0 -0.102784                0.356940
 505        0        0        0        1  0.753746                2.213108
 267        0        0        1        0  0.468236                0.190942

           Age  Body Mass Index  Education  Children      Pets
 213  0.405184        -0.643782          0  0.880469 -0.589690
 3    0.405184        -0.643782          0  0.880469 -0.589690
 19   1.660180         1.237836          0  0.880469  0.268487
 247 -0.536062         0.767431          0  0.880469  0.268487
 611 -1.320435        -0.643782          0 -0.019280  1.126663
 ..        ...              ...        ...       ...       ...
 281  0.562059        -0.408580          0 -0.019280  0.268487
 632  0.248310         1.002633          0 -0.919030 -0.589690
 224  0.718933        -0.878984          0 -0.919030 -0.589690
 505 -0.849811        -0.408580          0  1.780219 -0.589690
 267  0.091435         0.532229          1 -0.019280  0.268487

 [175 rows x 11 columns],
 array([1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
        0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1,
        0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
        0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1,
        1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
        0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
        0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
        1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
        1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
        1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1]),
 array([0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
        1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
        1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1])]

In [69]:
#80-20 split
x_train,x_test,y_train,y_test=train_test_split(scaled_inputs,targets,train_size=0.8,shuffle=True,random_state=42)
print(x_train.shape,y_train.shape)
print(x_test.shape,y_test.shape)

(560, 11) (560,)
(140, 11) (140,)

In [70]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [71]:
print(reg.score(x_train,y_train))
print(reg.coef_)
print(reg.intercept_)

0.7732142857142857
[[ 2.91326793  0.75549599  3.1001126   0.96422678  0.07433973  0.65058443
  -0.2512894   0.25268283 -0.24135999  0.39883784 -0.29441037]]
[-1.7023427]

In [72]:
predict=reg.predict(x_train)
predict

array([1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0])

In [73]:
predict==y_train

array([ True,  True,  True,  True, False, False, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False,  True, False,  True,
        True, False, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False, False,  True,
        True,  True, False,  True,  True, False,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
        True,  True, False,  True,  True, False,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True, False,
       False,  True, False,  True, False,  True,  True, False,  True,
       False, False, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False, False,  True,  True,  True,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True, False, False,  True,  True, False,  True, False,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True])

In [74]:
#Number of true prediction
print(f'Accuracy:{np.sum(predict==y_train)/predict.shape[0]}')

Accuracy:0.7732142857142857

In [75]:
summary=inputs.columns.values
summary

array(['Reason1', 'Reason2', 'Reason3', 'Reason4', 'Month',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [76]:
#Creating new dataframe table
#Transposing coefficients data -> Bcs ndarray is columns not rows
summary_table=pd.DataFrame(columns=['Features Name'],data=summary)
summary_table['Coefficients']=np.transpose(reg.coef_)
summary_table

             Features Name  Coefficients
0                  Reason1      2.913268
1                  Reason2      0.755496
2                  Reason3      3.100113
3                  Reason4      0.964227
4                    Month      0.074340
5   Transportation Expense      0.650584
6                      Age     -0.251289
7          Body Mass Index      0.252683
8                Education     -0.241360
9                 Children      0.398838
10                    Pets     -0.294410

In [77]:
#Add 1 more index to the dataframe
#At row 0, give features name: intercept and value of intercept
#.sort_index() sorts table by index

summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

             Features Name  Coefficients
0                Intercept     -1.702343
1                  Reason1      2.913268
2                  Reason2      0.755496
3                  Reason3      3.100113
4                  Reason4      0.964227
5                    Month      0.074340
6   Transportation Expense      0.650584
7                      Age     -0.251289
8          Body Mass Index      0.252683
9                Education     -0.241360
10                Children      0.398838
11                    Pets     -0.294410

In [78]:
#Standardized Coefficients
summary_table['Odds Ratio']=np.exp(summary_table['Coefficients'])
summary_table

             Features Name  Coefficients  Odds Ratio
0                Intercept     -1.702343    0.182256
1                  Reason1      2.913268   18.416885
2                  Reason2      0.755496    2.128667
3                  Reason3      3.100113   22.200451
4                  Reason4      0.964227    2.622759
5                    Month      0.074340    1.077173
6   Transportation Expense      0.650584    1.916661
7                      Age     -0.251289    0.777797
8          Body Mass Index      0.252683    1.287475
9                Education     -0.241360    0.785559
10                Children      0.398838    1.490092
11                    Pets     -0.294410    0.744971

In [79]:
#.sort_values('',ascending=False) sorts values in descending order

#Reason1: Various diseases
#Reason2: Pregnancy and giving birth
#Reason3: Poisoning
#Reason4: Light diseases
#Bias/Intercept--> Calibrates the model

summary_table.sort_values('Odds Ratio',ascending=False)

             Features Name  Coefficients  Odds Ratio
3                  Reason3      3.100113   22.200451
1                  Reason1      2.913268   18.416885
4                  Reason4      0.964227    2.622759
2                  Reason2      0.755496    2.128667
6   Transportation Expense      0.650584    1.916661
10                Children      0.398838    1.490092
8          Body Mass Index      0.252683    1.287475
5                    Month      0.074340    1.077173
9                Education     -0.241360    0.785559
7                      Age     -0.251289    0.777797
11                    Pets     -0.294410    0.744971
0                Intercept     -1.702343    0.182256

.LogisticRegression.predict_proba(x) returns the probability estimates for all possible outputs

In [82]:
print(f'Test Accuracy:{reg.score(x_test,y_test)}')

Test Accuracy:0.7714285714285715

In [83]:
#COLUMN KIRI: Probabiity of being 0
#COLUMN KANAN: Probability of being 1

pred_prob=reg.predict_proba(x_test)
pred_prob

array([[0.82964265, 0.17035735],
       [0.85180287, 0.14819713],
       [0.79808463, 0.20191537],
       [0.59298483, 0.40701517],
       [0.57366649, 0.42633351],
       [0.08038046, 0.91961954],
       [0.67593146, 0.32406854],
       [0.35565538, 0.64434462],
       [0.71607461, 0.28392539],
       [0.73999951, 0.26000049],
       [0.86470554, 0.13529446],
       [0.67524315, 0.32475685],
       [0.26571911, 0.73428089],
       [0.44938817, 0.55061183],
       [0.72608771, 0.27391229],
       [0.49239272, 0.50760728],
       [0.8944988 , 0.1055012 ],
       [0.21436647, 0.78563353],
       [0.86716946, 0.13283054],
       [0.58401458, 0.41598542],
       [0.7303233 , 0.2696767 ],
       [0.74406231, 0.25593769],
       [0.68192133, 0.31807867],
       [0.67988009, 0.32011991],
       [0.86089273, 0.13910727],
       [0.16080983, 0.83919017],
       [0.59428914, 0.40571086],
       [0.59656673, 0.40343327],
       [0.7598924 , 0.2401076 ],
       [0.59939621, 0.40060379],
       [0.88259114, 0.11740886],
       [0.85875072, 0.14124928],
       [0.400532  , 0.599468  ],
       [0.43890863, 0.56109137],
       [0.72184625, 0.27815375],
       [0.35043569, 0.64956431],
       [0.68192133, 0.31807867],
       [0.86629928, 0.13370072],
       [0.145183  , 0.854817  ],
       [0.80075738, 0.19924262],
       [0.48178782, 0.51821218],
       [0.74808323, 0.25191677],
       [0.36544179, 0.63455821],
       [0.87198331, 0.12801669],
       [0.7750394 , 0.2249606 ],
       [0.27404847, 0.72595153],
       [0.23085807, 0.76914193],
       [0.1160228 , 0.8839772 ],
       [0.69105689, 0.30894311],
       [0.86959526, 0.13040474],
       [0.73999951, 0.26000049],
       [0.68650719, 0.31349281],
       [0.57366649, 0.42633351],
       [0.06716963, 0.93283037],
       [0.86130568, 0.13869432],
       [0.7750394 , 0.2249606 ],
       [0.02361595, 0.97638405],
       [0.72184625, 0.27815375],
       [0.12814142, 0.87185858],
       [0.77488792, 0.22511208],
       [0.40732183, 0.59267817],
       [0.88037383, 0.11962617],
       [0.50082389, 0.49917611],
       [0.35565538, 0.64434462],
       [0.86470554, 0.13529446],
       [0.58630971, 0.41369029],
       [0.31984113, 0.68015887],
       [0.94196661, 0.05803339],
       [0.73028866, 0.26971134],
       [0.49495193, 0.50504807],
       [0.73999951, 0.26000049],
       [0.7598924 , 0.2401076 ],
       [0.30157554, 0.69842446],
       [0.68650719, 0.31349281],
       [0.86589888, 0.13410112],
       [0.35043569, 0.64956431],
       [0.5788492 , 0.4211508 ],
       [0.77871839, 0.22128161],
       [0.73028866, 0.26971134],
       [0.55443134, 0.44556866],
       [0.08038046, 0.91961954],
       [0.1114808 , 0.8885192 ],
       [0.87350386, 0.12649614],
       [0.75206203, 0.24793797],
       [0.88259114, 0.11740886],
       [0.29305317, 0.70694683],
       [0.75206203, 0.24793797],
       [0.1041273 , 0.8958727 ],
       [0.2679554 , 0.7320446 ],
       [0.69105689, 0.30894311],
       [0.80148327, 0.19851673],
       [0.45980305, 0.54019695],
       [0.69560709, 0.30439291],
       [0.72184625, 0.27815375],
       [0.56003127, 0.43996873],
       [0.145183  , 0.854817  ],
       [0.50112109, 0.49887891],
       [0.06498032, 0.93501968],
       [0.34459008, 0.65540992],
       [0.26988086, 0.73011914],
       [0.74800679, 0.25199321],
       [0.36015876, 0.63984124],
       [0.7750394 , 0.2249606 ],
       [0.23775542, 0.76224458],
       [0.84910352, 0.15089648],
       [0.390384  , 0.609616  ],
       [0.16662119, 0.83337881],
       [0.80075738, 0.19924262],
       [0.87312187, 0.12687813],
       [0.33110629, 0.66889371],
       [0.36544179, 0.63455821],
       [0.3501712 , 0.6498288 ],
       [0.4651892 , 0.5348108 ],
       [0.67057158, 0.32942842],
       [0.23772355, 0.76227645],
       [0.44486164, 0.55513836],
       [0.71131802, 0.28868198],
       [0.08688392, 0.91311608],
       [0.5547951 , 0.4452049 ],
       [0.13544098, 0.86455902],
       [0.75599849, 0.24400151],
       [0.2247373 , 0.7752627 ],
       [0.2271109 , 0.7728891 ],
       [0.26156457, 0.73843543],
       [0.26799918, 0.73200082],
       [0.71424699, 0.28575301],
       [0.7750394 , 0.2249606 ],
       [0.74398507, 0.25601493],
       [0.32914546, 0.67085454],
       [0.86382176, 0.13617824],
       [0.68192133, 0.31807867],
       [0.82355881, 0.17644119],
       [0.21255444, 0.78744556],
       [0.50112109, 0.49887891],
       [0.69105689, 0.30894311],
       [0.0637026 , 0.9362974 ],
       [0.48964705, 0.51035295],
       [0.34535697, 0.65464303],
       [0.58401458, 0.41598542],
       [0.85615655, 0.14384345]])

In [84]:
pred_prob[:,1]

array([0.17035735, 0.14819713, 0.20191537, 0.40701517, 0.42633351,
       0.91961954, 0.32406854, 0.64434462, 0.28392539, 0.26000049,
       0.13529446, 0.32475685, 0.73428089, 0.55061183, 0.27391229,
       0.50760728, 0.1055012 , 0.78563353, 0.13283054, 0.41598542,
       0.2696767 , 0.25593769, 0.31807867, 0.32011991, 0.13910727,
       0.83919017, 0.40571086, 0.40343327, 0.2401076 , 0.40060379,
       0.11740886, 0.14124928, 0.599468  , 0.56109137, 0.27815375,
       0.64956431, 0.31807867, 0.13370072, 0.854817  , 0.19924262,
       0.51821218, 0.25191677, 0.63455821, 0.12801669, 0.2249606 ,
       0.72595153, 0.76914193, 0.8839772 , 0.30894311, 0.13040474,
       0.26000049, 0.31349281, 0.42633351, 0.93283037, 0.13869432,
       0.2249606 , 0.97638405, 0.27815375, 0.87185858, 0.22511208,
       0.59267817, 0.11962617, 0.49917611, 0.64434462, 0.13529446,
       0.41369029, 0.68015887, 0.05803339, 0.26971134, 0.50504807,
       0.26000049, 0.2401076 , 0.69842446, 0.31349281, 0.13410112,
       0.64956431, 0.4211508 , 0.22128161, 0.26971134, 0.44556866,
       0.91961954, 0.8885192 , 0.12649614, 0.24793797, 0.11740886,
       0.70694683, 0.24793797, 0.8958727 , 0.7320446 , 0.30894311,
       0.19851673, 0.54019695, 0.30439291, 0.27815375, 0.43996873,
       0.854817  , 0.49887891, 0.93501968, 0.65540992, 0.73011914,
       0.25199321, 0.63984124, 0.2249606 , 0.76224458, 0.15089648,
       0.609616  , 0.83337881, 0.19924262, 0.12687813, 0.66889371,
       0.63455821, 0.6498288 , 0.5348108 , 0.32942842, 0.76227645,
       0.55513836, 0.28868198, 0.91311608, 0.4452049 , 0.86455902,
       0.24400151, 0.7752627 , 0.7728891 , 0.73843543, 0.73200082,
       0.28575301, 0.2249606 , 0.25601493, 0.67085454, 0.13617824,
       0.31807867, 0.17644119, 0.78744556, 0.49887891, 0.30894311,
       0.9362974 , 0.51035295, 0.65464303, 0.41598542, 0.14384345])

In [85]:
pred_test=reg.predict(x_test)
pred_test

array([0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0])

In [86]:
pred_test==y_test

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True, False,
        True, False, False,  True, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False,  True, False,
        True,  True,  True, False,  True,  True, False, False, False,
        True, False,  True, False,  True,  True, False,  True,  True,
        True,  True, False, False,  True])

In [87]:
print(f'Test Accuracy:{np.sum(pred_test==y_test)/pred_test.shape[0]}')

Test Accuracy:0.7714285714285715

pickle is a module used to convert a Python object into a character stream

In [88]:
#File Name: absenteesim_model
#wb: Write Bytes
#.dump= Save
#reg= object regression yg mau disimpen

import pickle
with open('absenteeism_model','wb')as file:
    pickle.dump(reg,file)

In [89]:
with open('absenteeism_scaler','wb')as file:
    pickle.dump(abs_scaler,file)